package views

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@5/daisyui.css" rel="stylesheet" type="text/css"/>
			<link rel="stylesheet" href="/static/vendor/photoswipe/photoswipe.css"/>
			<link rel="stylesheet" href="/static/css/layout.css"/>
		</head>
		<body>
			{ children... }
			<script src="/static/js/upload.js"></script>
			<script type="module" src="/static/js/gallery.js"></script>
			<script type="module" src="/static/js/datastar.js"></script>
		</body>
	</html>
}
